/*
* Déclaration de variables
*/
:root {
  --grey: #d9d9d9;
  --greylight: #f2f2f2;
  --blue: #0065fc;
  --bluelight: #deebff;
  --white: #fff;
}

/*
* Font
*/

@font-face {
  font-family: "Raleway";
  src: url("../font/raleway/static/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body * {
  font-family: "Raleway", Arial, sans-serif;
}

/*
* Nav
*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
#logo {
  margin-right: auto;
}
#logo img {
  height: 40px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 49px 34px 10px 34px;
}
nav ul li.active {
  border-top: 2px solid var(--blue);
}
nav ul li.active a {
  color: var(--blue);
}
#register {
  color: var(--blue);
  font-weight: bold;
  padding: 0px 27px 10px 34px;
}

/*
* Search
*/
#search {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

#search h1 {
  font-size: 22.5px;
  font-weight: bold;
}

#search p {
  font-size: 15.5px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#search-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}
#search-bar * {
  font-weight: bold;
  font-size: 17px;
}

#search-bar a {
  display: flex;
  border-left: none;
  align-items: center;
  border-radius: 60px;
  height: 36px;
}

#search-bar span {
  border-radius: 14px 0px 0px 14px;
  background: var(--greylight);
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar input {
  border: none;
  border-top: 1px solid var(--greylight);
  border-bottom: 1px solid var(--greylight);
  height: 50px;
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#search-bar input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

#search-bar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

#search-bar input::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

#search-bar button {
  border: none;
  border-radius: 0px 14px 14px 0px;
  background: var(--blue);
  color: var(--white);
  height: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 17px;
  padding-right: 17px;
}

#search-bar button span{
  display: contents;
}
#search-bar button i{
  display: none;
}
/*
* Filtre
*/
#filter-container {
  padding: 30px 0px 30px 10px;
  align-items: center;
}
#filter-container * {
  font-weight: bold;
  font-size: 18px;
}
#filter-container,
#filter-container div {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}
#filter-container div {
  margin-left: 8px;
}
#filter-container a {
  display: flex;
  padding-right: 24px;
  border: 2px solid var(--grey);
  border-left: none;
  align-items: center;
  border-radius: 60px;
  margin-left: 24px;
  height: 46px;
}
#filter-container a:hover{
  color:var(--blue);
  background-color: var(--bluelight);
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#filter-container span {
  margin-right: 12px;
  border-radius: 60px;
  background: var(--bluelight);
  color: var(--blue);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#info {
  padding: 5px 0px 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}
#info i {
  font-size: 11px;
  color: var(--blue);
}
#info span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border: 1px solid var(--grey);
  border-radius: 80px;
  margin-right: 10px;
}

/*
* Main content
*/
.section {
  padding: 40px 40px 0px 40px;
}
.title {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 22.5px;
  font-weight: bold;
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hebergements {
  background-color: var(--greylight);
  border-radius: 14px 14px 14px 14px;
  margin-right: 40px;
}
#cards-container-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.cards {
  border: 5px solid var(--white);
  display: flex;
  overflow: hidden;
  border-radius: 18px 18px 18px 18px;
  margin-bottom: 30px;
}
.cards-h {
  height: 190px;
  width: 30%;
  flex-direction: column;
}
.card-informations {
  background-color: var(--white);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.card-informations h2 {
  font-weight: bold;
}
.card-informations p {
  margin: 7px 0px;
  font-size: 13px;
}
.promotion {
  font-weight: bold;
}
.note {
  font-size: 13px;
}
.blue-star {
  color: var(--blue);
}
.grey-star {
  color: var(--greylight);
}
#show-more {
  font-size: 17px;
  font-weight: bold;
}

/*
* Most Populars
*/
#populars {
  background-color: var(--greylight);
  width: 31.4%;
  border-radius: 14px 14px 14px 14px;
}

#populars-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-v {
  flex-direction: row;
}

/*
* Activity cards
*/
#activity {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}
#activity h2 {
  padding: 8px 0px 8px 0px;
}
#cards-container-m {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.cards-m {
  height: 446px;
  width: 100%;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgba(242, 242, 242, 10);
  border: none;
}
.cards-group {
  display: flex;
  flex-direction: row;
  width: 49%;
}
.cards-group-lte {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*
* Footer
*/
footer {
  background-color: var(--greylight);
  font-size: 15px;
  padding-bottom: 50px;
}
footer section {
  display: flex;
  flex-direction: row;
}
footer div {
  margin-right: auto;
}
footer h2 {
  font-weight: bold;
  font-size: 17px;
  padding: 15px 0px 15px 0px;
}
footer li {
  padding: 8px 0px 8px 0px;
}
/*
* Background Size Cards
*/
/* Horizontal Cards */
.cards-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
}
/* Vertical Cards */
.cards-bg-v {
  background-position: center;
  background-size: 200%;
  height: 134px;
  width: 127px;
  min-width:127px;
}

/*
* Horizontal Bg Cards
*/
#cards-background-h1 {
  background-image: url(../img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
#cards-background-h2 {
  background-image: url(../img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
#cards-background-h3 {
  background-image: url(../img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
#cards-background-h4 {
  background-image: url(../img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
#cards-background-h5 {
  background-image: url(../img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
#cards-background-h6 {
  background-image: url(../img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

/*
* Vertical Bg Cards
*/
#cards-background-v1 {
  background-image: url(../img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}
#cards-background-v2 {
  background-image: url(../img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
#cards-background-v3 {
  background-image: url(../img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

/*
* Mixed Card
*/
/* Left Side*/
#cards-background-ml1 {
  background-image: url(../img/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  background-size: 200%;
}
#cards-background-ml2 {
  background-image: url(../img/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
#cards-background-ml3 {
  background-image: url(../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}
/* Right Side */
#cards-background-mr1 {
  background-image: url(../img/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-size: 200%;
}
#cards-background-mr2 {
  background-image: url(../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
#cards-background-mr3 {
  background-image: url(../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

/*
* Class container
* Centrer un block
*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /*padding-left: 50px;
  padding-right: 50px;*/
}

@media (min-width: 320px) {
  .container {
    /*max-width: 480px;*/
  }
  .section{
    padding: 20px;
  }

  /*
  * Nav
  */
  nav{
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: inherit;
    align-items: inherit;
    padding-top: 20px;
  }
  nav ul{
    display: flex;
    width: 100%;
    order: 3;
  }
  nav ul li{
    border-bottom: 2px solid var(--greylight);
    width: 50%;
    text-align: center;
    padding-top: 30px;
  }
  nav ul li.active{
    border-top: none;
    border-bottom: 2px solid var(--blue);
  }
  #logo{
    margin: 0;
    order: 1;
    width: calc(50% - 20px);
    padding-top: 10px;
    padding-left: 20px;
  }
  #logo img{
    height: inherit;
    width: 95px;
  }
  #register{
    align-self: flex-end;
    width: calc(50% - 20px);
    text-align: right;
    padding: 0px 20px 10px 0;
    order: 2;
  }
  /*
  * Search bar
  */
  #search{
    padding-left: 20px;
    padding-right: 20px;
  }
  #search p{
    padding-top: 16px;
  }
  #search-bar button{
    border-radius: 14px 14px 14px 14px;
  }
  #search-bar button span{
    display: none;
  }
  #search-bar button i{
    display: contents;
  }

  /*
  * Filter
  */
  #filter-container{
    flex-wrap:wrap;
  }
  #filter-container *{
    font-size: 15px;
  }
  #filter-container p{
    margin: 12px;
  }
  #filter-container a{
    margin: 6px 2px 6px 10px;
  }
  #filter-container div{
    flex-wrap: wrap;
    margin-left: 0;
  }

  /*
  * Info text
  */
  #info{
    margin-left: 15px;
    align-items: baseline;
  }
  #info span{
    height: 24px;
    width: 24px;
  }
  #info p{
    width: 85%; /*100% pas rond*/
  }

  /*
  * Main content
  */
  .main-content{
    flex-direction: column-reverse;
  }

  /*
  * Activity
  */
  .title{
    margin: 0;
    padding-top:42px;
    padding-bottom: 26px;
  }
  .cards{
    margin-bottom: 24px;
  }
  .cards-h{
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(242, 242, 242, 10);
  }

  /*
  * Populars
  */
  aside{
    padding-bottom: 12px!important;
  }

  #populars{
    width: calc(100% - 40px);
    border-radius: 0;
  }

  /*
  * Hebergements
  */
  #hebergements{
    margin-right: 0;
    background-color: var(--white);
  }
  #hebergements > h1{
    padding-top: 40px;
    padding-bottom: 18px;
  }
  .cards-group{
    flex-direction: column;
    width: 100%;
  }

  /*
  * Activity
  */
  #activity{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  #cards-container-m{
    flex-direction: column;
    width: 100%;
  }
  .cards-m{
    height:190px;
  }


  /*
  * Footer
  */
  footer{
    margin-top: 10px;
  }
  footer section{
    flex-direction: column;
  }
  footer section > *{
    padding: 50px 32px 0px 32px;
  }

  /*
  * Background
  */
  .cards-bg{
    background-size: 100%;
  }
}
@media (min-width: 480px) {
  .container {
    /*max-width: 1020px;*/
  }
  .cards-h{
    width: 45%;
  }
}
@media (min-width: 768px) {
  .cards-group{
    flex-direction: row;
    justify-content: space-between;
  }
  .cards-group-lte{
    margin-left: inherit;
    justify-content: space-between;
  }

  .cards-m{
        height: 446px;
      }
      #cards-l-lite1 {
        height: 236px;
      }
      #cards-l-lite2 {
        height: 164px;
      }
      #cards-r-lite1 {
        height: 194px;
      }
      #cards-r-lite2 {
        height: 209px;
      }
      .cards-group-lte{
        margin-left: 7%;
      }
}
@media (min-width: 1024px){
  .container{
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
/*
0-480
481-768
769-1200
1201-1439
1440-




@media (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}
*/